.root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.icon {
  height: "100%";
  padding: 0.5rem;
}

.titleDesc {
  height: "100%";
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem;
}

.title {
  font-size: 2rem;
}

.desc {
  font-size: 1rem;
}

.tempImg {
  height: "100%";
  width: 3rem;
}
